*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shapes{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color: green;
}
#diamond{
    rotate: 45deg;
    margin-top: 50px;
    width: 141px;
    height: 141px;  /* root2 a */
    translate: 30px;  /* right shift */
}
#diamond:hover{
    background-color: blue;
}
#square:hover{
    background-color: red;
}
#diamond h1{
    rotate: -45deg;
}